main {
  margin: 50px;
}
#score{
font-size:120px;
}

#guessColor{
  font-size: 90x;
}
#gameview {
  width: 90%;
  margin: 20px;
}
header{
  font-size: 30px;
}
.color-button {
    width: 90px;
    height: 90px;
    float: right;
    margin: 8px;
    cursor: pointer;
}
